.myaccount{
    margin-top: 70px;
}

.myaccount-head {
    padding: 1rem;
}
.myaccount-body {
    padding: 1rem;
    display: flex;
    align-items: center;
}
.myaccount-body-left {
    padding: 10px;
}
.myaccount-body-right {
    padding: 10px;
}